Backup/*
Installed Packages/*
Local/*
Babel/*
bz2/*
HTML/*
PyV8/*
Rails/*
Seti_UI/*
SublimeCodeIntel/*
SublimeLinter/*
SublimeLinter-contrib-eslint/*
Package\ Control.cache/*
bh_unicode_properties.cache
Package\ Control.last-run
Package\ Control.cache/01524fae79697630d0454ba3fabd9414
*.info